<html>
<head>
<title>assign_ticket.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #bcbec4;}
.s1 { color: #d5b778;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
assign_ticket.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends 'base.html' %}</span>

<span class="s0">{% block content %}</span>
    <span class="s1">&lt;h2&gt;</span><span class="s0">Assign Ticket</span><span class="s1">&lt;/h2&gt;</span>

    <span class="s1">&lt;form </span><span class="s2">action</span><span class="s3">=&quot;{{ url_for('tickets.assign_ticket', ticket_id=ticket.id) }}&quot; </span><span class="s2">method</span><span class="s3">=&quot;POST&quot;</span><span class="s1">&gt;</span>
        <span class="s1">&lt;label </span><span class="s2">for</span><span class="s3">=&quot;technician&quot;</span><span class="s1">&gt;</span><span class="s0">Select Technician:</span><span class="s1">&lt;/label&gt;</span>
        <span class="s1">&lt;select </span><span class="s2">name</span><span class="s3">=&quot;technician_id&quot; </span><span class="s2">required</span><span class="s1">&gt;</span>
            <span class="s0">{% for tech in technicians %}</span>
                <span class="s1">&lt;option </span><span class="s2">value</span><span class="s3">=&quot;{{ tech.id }}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ tech.name }}</span><span class="s1">&lt;/option&gt;</span>
            <span class="s0">{% endfor %}</span>
        <span class="s1">&lt;/select&gt;</span>

        <span class="s1">&lt;label </span><span class="s2">for</span><span class="s3">=&quot;estimated_time&quot;</span><span class="s1">&gt;</span><span class="s0">Estimated Time (in hours):</span><span class="s1">&lt;/label&gt;</span>
        <span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;number&quot; </span><span class="s2">name</span><span class="s3">=&quot;estimated_time&quot; </span><span class="s2">min</span><span class="s3">=&quot;1&quot; </span><span class="s2">placeholder</span><span class="s3">=&quot;Default: 1 hour&quot;</span><span class="s1">&gt;</span>

        <span class="s1">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">class</span><span class="s3">=&quot;button&quot;</span><span class="s1">&gt;</span><span class="s0">Assign</span><span class="s1">&lt;/button&gt;</span>
    <span class="s1">&lt;/form&gt;</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>